<ion-view view-title="Expertos">
    <div class='bar bar-subheader item-input-inset bar-light'>
<label class="item-input-wrapper">
<i class="icon ion-search placeholder-icon"></i>
<input type="search" placeholder="Search">
</label>                  
</div>
    <ion-content class='has-subheader'  ng-repeat="prueba in experto">
    
    <ion-item class="item-remove-animate item-avatar item-icon-right" data-uib="ionic/list_item_avatar" data-ver="0"  href="#/tab/experto-detalle">
                            <img src="img/tirso.jpg">
                            <h2>Tirso</h2>
                            <p>Lo puto</p>
                            <i class="icon ion-chevron-right icon-accessory"></i>
                        </ion-item> 
                   
                        </ion-content>
</ion-view>
