<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-light">
  
  <ion-tab title="Cursos" icon="icon ion-filing" href="#/tab/curso">
    <ion-nav-view name="curso-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Expertos" icon="icon ion-university" href="#/tab/experto">
    <ion-nav-view name="experto-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Workspace" icon="icon ion-folder" href="#/tab/workspace">
    <ion-nav-view name="workspace-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Blog" icon="icon ion-edit" href="#/tab/blog">
    <ion-nav-view name="blog-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil" icon="icon ion-person" href="#/tab/perfil">
    <ion-nav-view name="perfil-tab"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Mensajeria" icon="ion-android-mail" href="#/tab/mensajeria">
    <ion-nav-view name="mensajeria-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
